@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root
{--cin:#202020;
--ama: #ffa600;
--pre: #000000;
--azu: #1100ff;
--ver: #b40000;
--ver2:rgba(180, 0, 0, 0)0;
--rob: 'Roboto', sans-serif;
--nun: 'Nunito', sans-serif;
--qui: 'Quicksand', sans-serif;
}

body
{
margin: 0%;
padding: 0%;

}

article
{
margin: auto;
max-width: 800px;
padding: 20px;
padding-top: 0px;
}

article>p
{
font-size: 22px;
text-align:justify;
line-height: 40px;
margin: 40px 0px 40px;
font-family:var(--nun);
font-weight:200;
color: var(--cin);
}

article>h2
{
font-size: 30px;
margin: 60px 0px 60px;
font-family: var(--nun);
text-align: center;

}

h1
{
font-size: 3em;
font-family: var(--rob);
font-weight: bolder;
color: var(--cin);
background-image: linear-gradient(to right, #ffffff80, #00000000);
margin: 40px -10px 40px -10px;
width: auto;
}

img
{
display: block;
width: 100%;
border-radius: 15px;
margin: 80px 0px 80px 0px;
}


iframe
{
width: 100%;
max-width:840px;
max-height:475px;
display: block;
margin: 90px 0px 90px 0px;
border-radius: 15px;
}

footer
{
background-color: #000000;
color: #7e7e7e;
font-weight: lighter;
font-size: 12px;
text-align: center;
height: 10px;
font-family: var(--rob);
padding: 4px 0px 6px 0px;
}

menu
{
background-image: linear-gradient(to right, #000000, #53060652);
color: rgb(0, 26, 255);
height: 155px;
padding: 1px; 
padding-top: 20px;
}

menu>p
{text-align: center;
font-size: 40px;
font-family: var(--qui);
font-weight: bolder;
color: #ffffff;
max-width: 350px;
margin: auto;
background-image: linear-gradient( to top, #004e8d3b, #0000001f);
}

menu>div
{
text-align: center;
font-family: var(--nun);
font-size: 15px;
margin: 10px 0px  60px 0px;
color: #ffffff;
font-weight: bold;

}

menu>a
{
color: white;
font-family:var(--nun);
font-weight: bolder;
text-decoration: none;
font-size: 15px;
padding:7px 15px 7px 15px;
transition-duration: 0.5s;
}

menu>a:hover
{
color: #b40000;
background-color: #0000004f;
}

.bob
{
text-decoration: none;

}

.bob:hover
{
text-decoration:underline;
color: #b40000;
}

/*margin: 60px 0 40px 0 60px;*/